@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nunito+Sans&display=swap");

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: #bbbbbb;
}

body::-webkit-scrollbar-thumb {
    background: #1A46C4;
}

.test {
    color: rgb(230, 233, 51);
}